
<app-listado-generico [listado]="peliculas">
  <ng-container list>
    <div class="peliculas-container">
    @for (pelicula of peliculas; track $index) {
      <div class="pelicula-container">
        <div>
          @if (pelicula.imagen) {
            <img [ngSrc]="pelicula.imagen" [priority]="$index === 0" width="169" height="250" [alt]="pelicula.nombre">
          } @else {
            <img src="default.webp" width="169" height="250" [alt]="pelicula.nombre">
          }
        </div>
        <div>
          <p>
            <a>{{pelicula.nombre | uppercase}}</a>
          </p>
          <a mat-flat-button>Editar</a>
          <button mat-flat-button type="button" color="red">Borrar</button>
        </div>
      </div>
    }
  </div>
  </ng-container>
</app-listado-generico>
