@if (!peliculas) {
    <img src="loading.gif" alt="Image loading...">
  }
  
  @else if (peliculas.length === 0) {
    <div class="no-movies">
      <p>No se encontro ninguna pelicula</p>
    </div>
  }
  
  @else if (peliculas && peliculas.length > 0) {
    @for (pelicula of peliculas; track $index) {
      <div class="container">
        <div>
          <img [ngSrc]="pelicula.imagen" [priority]="$index === 0" width="320" height="400" [alt]="pelicula.nombre">
        </div>
        <div>
          <p>{{$index + 1}}) Pelicula: {{pelicula.nombre | uppercase}}</p>
          <p> Fecha de estreno: {{pelicula.fecha | date:"dd MMMM, yyyy"}}</p>
          <p>Precio: {{pelicula.precio | currency}}</p>
        </div>
      </div>
    }
  }