@use "@angular/material" as mat;

.peliculas-container {
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.pelicula-container {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
}

button {
  margin-left: 1rem;
  @include mat.theme(
    (
      color: mat.$red-palette,
    )
  );
}
